header {
    background-color:#fdf2e9;
    height: 55em;
    position: relative;
}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

h1 {
    font-size: 2.5rem;
    color: #333;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.6em;}

.hero-text {
    width: 450px;
}

.hero-text p ,p{
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 1.6em;
    line-height: 1.6em;
}   

.white_btn {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    text-decoration: none;
}

.white_btn:hover {
    color: #333;
    background-color: #f0f0f0;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 0.6em;
}

.hero-buttons a {
    font-weight: 500;
}

.hero-customers {
    display: flex;
    align-items: center;
    margin-top: 3em;
}

.hero-customers img {
    width: 2.4em;
    height: 2.4em;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    margin-right: -1.2em;
}

.hero-customers p {
    margin-left: 2.2em;
    margin-bottom: 0;
    font-size: 0.9rem;
    font-weight: 700;
}

.hero-customers p span {
    font-weight: bold;
}
