* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    background-color: #fff;
    color: #333;
}

nav {
    background-color: #fdf2e9;
    padding: 30px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    font-weight: 500;
    color: #E67E22;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.5s ease;
}
nav ul li a:hover {
    color: #E67E22;
}

.orange_btn {
    background-color: #E67E22;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    text-decoration: none;
}

.orange_btn:hover {
    color: #fff;
    background-color: #a75215;
}